#flex-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#square-div{
    background-color: aquamarine;
    height: 400px;
    width: 400px;
    flex-grow: 1;
}

#square-div:hover{
    background-color: aqua;
}